* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* This Is NavBar CSS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 92px;
}

.nav-image {
  margin-left: 120px;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 365px;
  color: black;
  opacity: 90%;
  font-size: 16px;
}

.nav-div h3 {
  font-size: 16px;
  font-weight: medium;
}

.nav-button {
  width: 164px;
  height: 44px;
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 120px;
}

/* This is HERO CSS */

.hero {
  background-image: url("./assets/hero-bg.png");
  max-width: 1600px;
  height: 674px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}

.hero-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .hero-first {
  width: 229px;
  height: 35px;
  background-color: #ffffff;
  color: #469165;
  line-height: auto;
  border-radius: 1000px;
  font-size: 16px;
  line-height: auto;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 17.5px;
} */

.hero-first {
  background-color: #ffffff;
  color: #469165;
  line-height: auto;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.hero-first img {
  margin-right: 6px;
}

.hero-div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 229px;
  height: 35px;
  background-color: #ffffff;
  color: #469165;
  line-height: auto;
  border-radius: 1000px;
  font-size: 16px;
  line-height: auto;
  font-weight: 700;
}

.hero h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 84px;
}

.hero-span {
  color: #30b868;
}

.hero-span2 {
  color: #ffffff;
}

.hero-second {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 16px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.hero-button1 {
  width: 251px;
  height: 52px;
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button1 img {
  padding-left: 10px;
}

.hero-button2 img {
  padding-right: 8px;
}

.hero-button2 {
  width: 198px;
  height: 52px;
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This is the middle section */

.texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.texts h1 {
  font-size: 48px;
  font-weight: 900;
}

.texts p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
}

.card {
  max-width: 322px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 16px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 16px;
}

.card4 {
  max-width: 322px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 24px;
  padding-top: 57px;
  padding-bottom: 57px;
  padding-left: 36px;
  padding-right: 36px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  gap: 16px;
}

.card img {
  background-color: #f95555;
  color: #ffffff;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 16px;
}

.card4 img {
  background-color: #f95555;
  color: #ffffff;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card4 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

.card4 p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 120px;
}

.sec2-texts {
  margin-left: 60px;
}

.sol {
  font-size: 16px;
  color: #469165;
  line-height: 20px;
  font-weight: 600px;
}

.sec2-texts h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.sol2 {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 32px;
}

.sec2-texts h4 {
  line-height: 20px;
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sec2-texts h4 img {
  margin-right: 6px;
}

.section3 {
  background-color: #f7f6f2;
  max-width: 1360;
  max-height: 384;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
  padding: 80px 40px;
}

.sec3-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section3 h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: auto;
  margin-bottom: 16px;
}

.sec3-p1 {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

.section3 button {
  width: 198px;
  height: 52px;
  background-color: #469165;
  padding: 12px 16px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 button img {
  padding-left: 10px;
}

.sec3-p2 {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  text-align: center;
}

.section4 {
  background-color: #001a33;
}

.sec4-div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 120px;
}

.sec4-p1 {
  padding-right: 107px;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.sec4-div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 80px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-top: 0.05px solid #627382;
}

.sec4-div2 p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
}

/* i {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
} */

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.image-container {
  max-width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
