* {
  margin: 0;
  padding: 0;
}

/* This Is NavBar CSS */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 92px;
}

.nav-image {
  margin-left: 120px;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 365px;
  color: black;
  opacity: 90%;
  font-size: 16px;
}

.nav-div h3 {
  font-size: 16px;
  font-weight: normal;
}

.nav-button {
  width: 164px;
  height: 44px;
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 120px;
}

/* This is HERO CSS */

.hero {
  background-image: url("./assets/hero-bg.png");
  max-width: 1600px;
  height: 674px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}

.hero-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero-first {
  width: 229px;
  height: 35px;
  background-color: #ffffff;
  color: #469165;
  line-height: auto;
  border-radius: 1000px;
  font-size: 16px;
  line-height: auto;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 17.5px;
}

.hero h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 84px;
}

.hero-span {
  color: #30b868;
}

.hero-span2 {
  color: #ffffff;
}

.hero-second {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  line-height: 24px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.hero-button1 {
  width: 251px;
  height: 52px;
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 16px;
}

.hero-button2 {
  width: 198px;
  height: 52px;
  background-color: transparent;
  border: 2px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-right: 16px;
}

/* This is the middle section */

.texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.texts h1 {
  font-size: 48px;
  font-weight: 900;
}

.texts p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 44px;
}

.card {
  border: 1px solid black;
  max-width: 322px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 16px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 32px;
  padding-right: 32px;
}

.card img {
  background-color: #f95555;
  color: #ffffff;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 16px;
}

.card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

.container {
  display: flex;
}
